doctype html
html
  head
  style.
    a {
      background-color: #199319;
      color: white;
      padding: 15px 25px;
      text-decoration: none;
      }
  body
    p Thanks for signing up to Pug. Before we can continue, we need to validate your email address.
    a(href=link) Verify email.